.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(19, 3, 91);
    color:white;
    align-items: center;
}
.nav-content{
    display: flex;
    margin-left: 50px;
    color: #ccc;
}
.nav-link {
    color:#ccc;
}
.navbar-brand{
    font-size: 20px;
    color: rgb(165, 40, 40);
    font-weight: 550;
}
.nav-item {
    padding: 15px 10px 5px 0;
    font-weight: bold;
    margin-left: 10px;
    color:white;
    font-size: medium;
}
.btn-nav {
    border: 3px solid rgb(19, 0, 100);
    color: #ffffff;
    padding: 5px;
    border-radius: 1px 1px ;
    background-color: rgb(66, 59, 98);
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    height: 100%;
    width: 100%;  
}
.btn-nav a {
    color: #ffffff;
    text-decoration: none;
}
.dropdown {
    margin-left: 40rem;
    padding: 15px 10px 5px 0;
    font-size: medium;
}
.dropdown-item {
    color: black;
    background-color: rgb(190, 211, 222);
}
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* starts manupalating for vertical nav bar */
  .vertival-nav {
    background-color: rgb(19, 3, 91);
    color: white;
  }
  .content-area {
    margin-top: 15rem;
    margin-left: 1rem;
  }
.provider-nav{
    padding-left: 2rem;
    color: white;
    margin-top: 10%;
    margin: 15% 5%;  
}
  .dashboard-main {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 3rem;
  } 
  /* footer */
  .footer {
    margin-top: 23rem;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding:0;
  }
 .footer-content{
    margin-left: 0%;
 }
/* code for main dashboard */
.card-callot{
    background-color: aliceblue;
 }

/* css for table */
/* table starts */
.table-container{
    margin-top: 2rem;
    overflow-x: auto;
    width: 100%;
 }
 table {
    table-layout: fixed;
    width: 100%;
  }
thead {
    background-color: rgb(19, 3, 91);
    color: white;
}
th, td {
  flex: 1 1 auto;
}
th {
    border: 1px solid white;
}
td {
    border: 1px solid rgb(19, 3, 91);
}
 /* css code for popup form fild box of add job */

.popup-form {
    display: none;
    position: fixed;
    top: -5%;
    left: 0%;
    overflow: auto;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50%);
    /* pointer-events: none; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.form-container-password{
    height: 50%;
    width: 50%;
    padding-bottom: 3%;
    background-color: rgb(242, 243, 250);
    color: black;   
}
.popup-form-password{
    margin-top: 5%;
    margin-left: 60%;
}
 .form-container-job{
    height: 50%;
    width: 50%;
    margin:5% 20%;
    padding-left: 2%;
    background-color: rgb(242, 243, 250);
}

.form-container-client {
    height: 50%;
    width: 60%;
    margin: 5% 20%;
    background-color: rgb(242, 243, 250);
 }
 .cancel-btn {
    margin-right: 10%;
 }
 
.modal-header-blue {
    color: #1071e5;
    background-color: rgba(16, 113, 229, .16);
    border-bottom: #cfe4ff;
 }
 
 .modal-content {
    padding: 5%;
 
 }
 /* image upload space in document */
 .image-box {
    border: 2px solid #ccc; /* Add a border */
    padding: 10px; /* Add some padding */
    width: 120px; /* Set the width of the box */
    height: 120px; /* Set the height of the box */
    overflow: hidden; /* Hide any overflow */
    margin-top: -20%;
  }
  
  .image-box img {
    display: block; /* Make the image a block element */
    max-width: 100%; /* Set the maximum width of the image */
    height: auto; /* Set the height of the image to auto to maintain aspect ratio */
  }
 /* css for popup window */
 .cardbg-blue{
    background-color: blue;
    margin-top: 4%;
    padding-left: 2rem;
    color: white;
 }
.board-box {
    margin-left: 5%;
    padding-top: 2%;
}
.input-field{
    width: 85%;
}
.submit-button{
    border-radius: 8px;
    color: white;
    border: 2px solid rgb(39, 39, 70);
    background-color: #1071e5;
    width: 100%;
    padding:2%; 
    margin-bottom: 22%;
  }
  .cancel-button{
    border-radius: 8%;
    border:2px solid #f21e1e;
    width:100%;
    padding:2%; 
    margin-bottom: 22%;
  }

  .button-box{
    margin-top: 3%;
    margin-left: 60%;
  }
  